@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');
@import 'bootstrap-custom/bootstrap-grid.scss';
@import 'global';
@import 'navigation';

.linkBox{
	position: relative;

	&:after{
		position:absolute;
		bottom: 0;
		left: 0;
		content:"";
		display: block;
		background: #000;
		height: 2px;
		width:0;
		transition: width .5s;
	}

	&:hover:after{
		width: 100%;
	}
}

#index, #contact{
	padding: 80px 0 0;
	
	@include md{
		padding: 140px 0 0;
	}

	ul{
		list-style: none;
		padding: 0.5rem;
		li{
			position: relative;
			font-weight: bold;

			&:before{
				position: absolute;
				left: -0.5rem;
				content: '-';
			}
		}
	}
}

#about-me{
	padding: 40px 0 0;
	
	@include md{
		padding: 80px 0 0;
	}

	@include xl{
		padding: 100px 0 0;
	}

	p{
		line-height: 2;
		margin-bottom: 2rem;
	}
}

.image-gallery{
	display: flex;
	flex-wrap: wrap;

	div{
		position: relative;
		padding-top: 50%;
		flex: 1 1 50%;
		max-width: 50%;

		@include md{
			padding-top: 33.333%;
			flex: 1 1 33.333%;
			max-width: 33.333%;
		}

		img{
			position: absolute;
			top: 0;
		}
	}
}