@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');
@import '~bootstrap/scss/bootstrap-grid';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/utilities';
@import 'global';
@import 'navigation';
@import 'modal';
@import 'spinner';

p{
	line-height: 1.5;
}

.linkBox{
	position: relative;

	&:after{
		position:absolute;
		bottom: 0;
		left: 0;
		content:"";
		display: block;
		background: #000;
		height: 2px;
		width:0;
		transition: width .5s;
	}

	&:hover:after{
		width: 100%;
	}
}

.social-list {
	li{
		font-size: 2rem;
	}
}

.blur{
	filter: blur(20px);
	transition: 0.3s;
	&.off{
		filter: blur(0);
	}
}

.skill{
	display: flex;
	i{
		font-size: 3.5rem;
	}

	h4{
		margin-top: 0;
	}
}

.featured-img-container{
	position: relative;
	width: 100%;
	padding-top: 60%;
	overflow: hidden;
	display: flex;
	align-items: center;
	
	.featured-img{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;

		picture{
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;
			img{
				display: block;
				object-fit: cover;
			}
		}
	}
}

#work-section{
	position: relative;
	.loader-container{
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		transition: 0.3s;
		opacity: 0;
		z-index: -1;
		background: #f6f5f7;

		&.active{
			display: flex;
			justify-content: center;
			align-items: center;
			opacity: 1;
			z-index: 5;
		}
	}
}

.site-preview-title{
	h4{
		color: #000;
		transition: 0.3s;
		&:hover, &:active{
			color: $red;
			text-decoration: underline;
		}
	}
}

#page-site{
	margin-top: 8rem;
	position: relative;
	.loader-container{
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		transition: 0.3s;
		opacity: 0;
		z-index: -1;
		background: #f6f5f7;

		&.active{
			display: flex;
			justify-content: center;
			align-items: center;
			opacity: 1;
			z-index: 5;
		}
	}
}

#site-featured-img{
	img{
		min-height: 200px;
		transition: 0.3s;
		&.loading{
			filter: blur(10px);
		}
	}
}

#footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #f6f5f7;
	z-index: 3;
}

.page-links {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;

	li{
		padding: 0 0.5rem;
		color: rgba(0,0,0,0.4);

		&:first-child, &:last-child{
			padding: 0;
		}
		&:first-child{
			padding-right: 0.5rem;
		}
		&:last-child{
			padding-left: 0.5rem;
		}
		button{
			padding: 0;
			border: 0;
			background: none;
			font-family: $font-family-base;
			font-size: 1rem;
			color: #363636;
			cursor: pointer;
			font-weight: 600;
			transition: 0.3s;
			text-decoration: underline;
			&:hover{
				color: $red;
			}
		}
	}
}

#scroll-top-button{
	opacity: 0;
	position: fixed;
	bottom: 70px;
	right: 1rem;
	z-index: -1;
	border: 2px solid #000;
	background: #fff;
	padding: 0.5rem;
	transition: 0.3s;

	i{
		color: #000;
		font-size: 1rem;
	}
	&:hover, &:active{
		background: #000;
		i{
			color: #fff;
		}
	}

	&.show{
		z-index: 10;
		opacity: 1;
	}
}