@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');
@import 'bootstrap-custom/bootstrap-grid.scss';
@import 'global';
@import 'navigation';
@import 'modal';

.linkBox{
	position: relative;

	&:after{
		position:absolute;
		bottom: 0;
		left: 0;
		content:"";
		display: block;
		background: #000;
		height: 2px;
		width:0;
		transition: width .5s;
	}

	&:hover:after{
		width: 100%;
	}
}

.card{
	border: 2px solid #000;

	.card-head{
		padding: 1rem;
		font-size: 2rem;
		font-weight: 600;
		border-bottom: 2px solid #000;
	}

	.card-body{
		padding: 1rem;
		background: #fff;
	}
}