<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Eric J Shin - Full Stack Web Developer</title>
        <meta name="description" 
        	content="Eric J Shin is a full stack web developer in the greater Los Angeles 
        			area and is familiar with several different technologies and languages 
        			such as JavaScript, React, PHP, Laravel, Python, Django, and Flask.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        <div id="root">Loading</div>
        <script src="/static/js/app.js"></script>
    </body>
</html>